:root
{
    --animation-duration:400ms;
    --title-font: "Pacifico", cursive;
    --fs-50:50px;
    --bs-border-style:dotted;
    --bg-section:#F7ECDE;
    --color-text:#3FA65C;
    --second-title-font:"Righteous", sans-serif;
    --default-font:"PT Sans Caption", sans-serif;
   
}


.fs-25
{
    font-size: 25px;
}

.w-15
{
    width:15%;
}


  

body
{
    background-color: var(--bg-section);
}



.title
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    
}


.title h1
{
    position:relative;
    font-size: var(--fs-50);
    z-index: 999;
    
}


.layer-title 
{
    position: absolute;
    background-color: #FEC260;
    width:17%;
    height:15px;
    top:90px;

}
.title-heading
{
    transition: height var(--animation-duration) ease ,top var(--animation-duration) ease;

}
 .title-heading:hover .layer-title
{
    height:27px;
   top:80px;
   background-color: #FEC260;
}

.border
{
    border-style: var(--bs-border-style);
   
}

.second-title h2,i
{
    font-family:var(--second-title-font);
    color:var(--color-text)
}

.forms
{
    font-family: var(--default-font);
}